In [1]:
import pandas as pd

In [3]:
tsnc=pd.read_csv("2330.csv")

In [4]:
tsnc

         Date   2330
0   107/01/02  232.5
1   107/01/03  237.0
2   107/01/04  239.5
3   107/01/05  240.0
4   107/01/08  242.0
5   107/01/09  242.0
6   107/01/10  236.5
7   107/01/11  235.0
8   107/01/12  237.0
9   107/01/15  240.0
10  107/01/16  240.5
11  107/01/17  242.0
12  107/01/18  248.5
13  107/01/19  255.5
14  107/01/22  261.5
15  107/01/23  266.0
16  107/01/24  258.0
17  107/01/25  258.0
18  107/01/26  255.0
19  107/01/29  258.5
20  107/01/30  253.0
21  107/01/31  255.0
22  107/02/01  259.5
23  107/02/02  259.5
24  107/02/05  253.0
25  107/02/06  239.0
26  107/02/07  240.0
27  107/02/08  238.5
28  107/02/09  232.5
29  107/02/12  236.5
..        ...    ...
35  107/03/01  243.0
36  107/03/02  240.0
37  107/03/05  241.5
38  107/03/06  250.0
39  107/03/07  247.0
40  107/03/08  249.5
41  107/03/09  250.5
42  107/03/12  254.0
43  107/03/13  259.0
44  107/03/14  257.0
45  107/03/15  255.0
46  107/03/16  255.0
47  107/03/19  255.0
48  107/03/20  253.0
49  107/03/21  252.5
50  107/03/22  251.5
51  107/03/23  245.0
52  107/03/26  243.5
53  107/03/27  251.0
54  107/03/28  245.0
55  107/03/29  244.0
56  107/03/30  246.0
57  107/03/31  247.5
58  107/04/02  246.5
59  107/04/03  244.0
60  107/04/09  245.0
61  107/04/10  245.5
62  107/04/11  248.0
63  107/04/12  245.0
64  107/04/13  244.5

[65 rows x 2 columns]

In [9]:
umc=pd.read_csv("2303.csv")

In [10]:
umc

         date   2303
0   107/01/02  14.25
1   107/01/03  14.40
2   107/01/04  14.35
3   107/01/05  14.55
4   107/01/08  14.70
5   107/01/09  14.75
6   107/01/10  14.20
7   107/01/11  14.00
8   107/01/12  14.20
9   107/01/15  14.30
10  107/01/16  14.30
11  107/01/17  14.30
12  107/01/18  14.30
13  107/01/19  14.20
14  107/01/22  14.00
15  107/01/23  14.60
16  107/01/24  14.40
17  107/01/25  14.50
18  107/01/26  14.60
19  107/01/29  14.55
20  107/01/30  14.45
21  107/01/31  14.25
22  107/02/01  14.40
23  107/02/02  14.55
24  107/02/05  14.40
25  107/02/06  13.95
26  107/02/07  14.20
27  107/02/08  14.15
28  107/02/09  14.05
29  107/02/12  13.85
..        ...    ...
37  107/03/05  13.90
38  107/03/06  14.15
39  107/03/07  14.05
40  107/03/08  15.45
41  107/03/09  15.10
42  107/03/12  15.25
43  107/03/13  15.25
44  107/03/14  15.10
45  107/03/15  15.10
46  107/03/16  15.20
47  107/03/19  15.25
48  107/03/20  15.20
49  107/03/21  15.20
50  107/03/22  15.25
51  107/03/23  15.20
52  107/03/26  15.15
53  107/03/27  15.55
54  107/03/28  15.40
55  107/03/29  15.30
56  107/03/30  15.40
57  107/03/31  15.50
58  107/04/02  15.45
59  107/04/03  15.40
60  107/04/09  15.25
61  107/04/10  15.30
62  107/04/11  15.40
63  107/04/12  15.45
64  107/04/13  15.40
65  107/04/16  15.35
66        NaN    NaN

[67 rows x 2 columns]